# dependências do Node.js
node_modules/
npm-debug.log*

# relatórios e artefatos do Playwright
playwright-report/
test-results/
blob-report/
playwright/.cache/

# arquivos gerados automaticamente pelo playwright-bdd
.features-gen/

# configurações locais de IDEs (opcional, mas recomendado)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# variáveis de ambiente locais
.env
.env.test